*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Hanalei Fill","Cinzel",Impact, 'Arial Narrow Bold', sans-serif;
    color: darkgoldenrod;
    text-shadow:2px 2px 2px beige;

}
body{/*Como hacer que los divs principales ocupen la totalidad de la pantalla??*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-flow:column;
}
 /*Hay muchas propiedades que se repiten en los divs, por ejemplo el color de las fuentes, text-shadow, display:flex, justify-content, aling-items, etc, agrupar en un solo bloque de codigo!*/
 header , main, main ul, footer{
    display: flex;
    justify-content: center;
    align-items: center;
 }
header{
    height: 120px;
    background-color:black;
    font-size: 18px;
    text-align: center;
}
main{
    flex: 1;/*Propiedad para que el div main ocupe la altura restante*/
    background: linear-gradient(black,rgb(51, 51, 48),black);
}

main ul{
    list-style-type: none;
    flex-direction: row;
    gap: 10%;
}
main ul li{
    border: solid darkgoldenrod;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    font-size: 30px;
}
main ul li img{
    height: 100px;
    width: 100px;
}
footer{
    background-color: black;
}
